/*HOMEPAGE*/
.homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.teamPix {
  width: 335px;
  height: auto;
  /*padding: 15px;*/
  margin-left: 80px;
}

.homepage-btn {
  padding: 10px;
  margin: 15px;
  font-size: 16px;
  font-weight: bold;
  border: var(--darkGreen) 1.5px solid;
  border-radius: 5px;
  height: 60px;
  background-color: var(--darkGreen);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  color: var(--light);
  cursor: pointer;
}

.redirect-btn {
  display: flex;
  flex-direction: column;
  padding: 25px;
  cursor: pointer;
}
